body {
    font-family: Helvetica, san-serif;
    background-color: darkseagreen;
}

div.top {
    background-color: white;
    /* padding: 18px 25px; */
    /* width: 1px; */
}

.button {
    height: 30px;
    width: 50px;
    margin: auto;
    padding: 0%;
    display: flex;
}

.button1 {
    background-color: slateblue;
}

.button2 {
    background-color: springgreen;
}

.buttonCurve1 {
    border-radius: 25px 0px 0px 25px;
}

.buttonCurve2 {
    border-radius: 0px 25px 25px 0px;
}

a.button {
    background-color: hotpink;
    padding: 14px 25px;
    color: indigo;
}

a:link,
a:visited {
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}